<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Live</title>
</head>
<body>
    <div class="col">
        <div class="row">
            <form id="myForm" action="javascript:void(0);">
                <div>
                    <label for="nome">Nome: </label> 
                    <input type="text" id="nome" name="nome" required>
                    <label for="sobrenome">Sobrenome: </label> 
                    <input type="text" id="sobrenome" name="sobrenome" required>
                    <label for="email">Email: </label> 
                    <input type="email" id="email" name="email" required>
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
        <div class="row">
        </div>
    </div>
    <script lang="js">
        'use strict'

        let myForm = document.getElementById('myForm');
        
        myForm.addEventListener("submit", async (e) => {
            let { nome, sobrenome, email } = e.target;

            nome = nome.value.replaceAll(/[\W\d]/g, "");
            sobrenome = sobrenome.value.replaceAll(/[\W\d]/g, "");
            email = email.value.replaceAll(/['"=]/g, "");

            let body = new URLSearchParams({
                nome,
                sobrenome,
                email
            });

            let res = await fetch("http://138.68.29.250:8082", {
                method: "POST",
                body,
                headers: new Headers({ "Content-Type": "application/x-www-form-urlencoded"})
            });

            if (res.status !== 200) {
                return alert("Erro ao inserir");
            }

            res = await res.text();

            if (res.match(/erro/i)) {
                return alert("Erro ao inserir");
            }

            let { 1: cod_nome, 3: cod_sobrenome, 5: cod_email } = res.split("#");

            
            body = { 
                nome, cod_nome,
                sobrenome, cod_sobrenome,
                email, cod_email
            }

            res = await fetch("/", {
                method: "POST",
                body: JSON.stringify(body),
                headers: new Headers({ "Content-Type": "application/json" })
            });

            
            if (res.status !== 200) {
                return alert("Erro ao inserir");
            }

            res = await res.json();
            console.log(res);

        });

    </script>
</body>
</html>